
.App-header {
  background-color: #282c34;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#root{
  min-height: 100vh;
}



main {
  flex-direction: column;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 90%;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  color: white;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: auto;
  padding-bottom: auto;
  margin: 10px;
  height: 120px;
}

.card-big{
  min-height: 300px;
  min-width: 50%;
}

div > a {
  color: white;
}